*, 
*::after, 
*::before{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

a{
    color: inherit;
    text-decoration: none;
}

html{
    height: 100%;
}

body{
    height: 100%;
    /* запрещаем выходить за пределы body */
    overflow: hidden;
    background-color: #bebebe;
    font-size: 18px;
}

.card{
    width: 320px;
    height: 320px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    overflow: auto;
}

.card p{
    margin-bottom: 15px;
}
.card img{
    width: 100%;
}


.btncard{
    margin:25px 0;
    display: inline-block;
    text-align: center;
    width: 100%;
    border:2px solid #d6d6d6;
    padding: 10px;
    background-color: #ffd900;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    transition: 0.3s;


}
.btncard:hover{
    background-color: #ff8400;
    color: rgb(0, 0, 0);
}